@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

:root {
  --color-vivid-tangerine: #ff9580;
  --color-spring-wood: #f8f8f2;
  --color-mint-green: #8aff80;
  --color-kimberly: #7970a9;
  --color-hot-pink: #ff80bf;
  --color-heliotrope: #9580ff;
  --color-gun-powder: #454158;
  --color-dolly: #ffff80;
  --color-chardonnay: #ffca80;
  --color-charade: #22212c;
  --color-aquamarine: #80ffea;

  --main-bg-color: var(--color-charade);
  --main-fg-color: var(--color-spring-wood);
  --main-heading-color: var(--color-gun-powder);

  --main-gain-color: var(--color-mint-green);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: Nunito, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-color);
}
